h1 {
    color: black;
}
body {
    background-color: slategrey;
}
p {
    color: black;
}
a:link, a:visited, a:active {
	text-decoration: underline;
	}
a:hover {
	background: deepskyblue;
	color:blue;
}